
.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.container {

    display: flex;
    justify-content: space-around;
}

.group17{
    display: flex;
    flex-direction: column;
margin-bottom: 70px;
}

.frame12{
display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom: 80px;
}
.yname{
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #000000;
}
.ybio{
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.015em;
text-transform: uppercase;
color: #000000;
} 
.content{
display: flex;
flex-direction: column;
align-items: flex-start;
padding-top: 0px;
}
.education{
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 0px 0px 30px 0px;
}
.expe {
display: flex;
flex-direction: column;
margin: 0px 0px 30px 0px;
}
.proj{
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 0px 0px 30px 0px;
}
.certi{
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 0px 0px 30px 0px;
}
.frame18{
display: flex;
flex-direction: column;
align-items: flex-start;
}
.frame8{
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 0px 0px 15px 0px;
}
.frame9{
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 0px 0px 15px 0px;
}
.frame118{
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 0px 0px 15px 0px;
}
.frame19{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.frame73{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px 0px 0px 0px;
}
.peep img{
float: bottom;
}

.link{
float: left;
margin: 0px 5px 0px 0px;
}
.phone{
float: left;
margin: 0px 5px 0px 0px;
}
.mail{
float: left;
margin: 0px 5px 0px 0px;
}
.night{
text-align: right;
padding-top: 10px;
}
.smaltextgray{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
}
.texttochki{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #52575C;
}
.fattext{
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 14px;
color: #000000;
}
.greentext{
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 17px;
text-transform: uppercase;
color: #136223;
}
.naklonytext{
font-family: Inter;
font-style: italic;
font-weight: normal;
font-size: 12px;
color: #000000;
}
.black-color-theme{
background-color: black;
}
.white-text{
color: white;
}
a {
color: black;
}
.white-links{
color: white;
}
@media (max-width: 420px){
.content{
width: 50%;
}
.yname{
font-size: 26px;
}
} 