body{
margin: 0 auto;
width: 792px;
height: 1224px;
background:pink;
}
.main{
width: 792px;
height: 1224px;
background: #FFFFFF;
}
.frame12{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 200px;
height: 68px;
padding-top: 20px;
margin-left: 20px;
}
.yname{
width: 300px;
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #000000;
margin-top: -75px;
}
.ybio{
width: 487px;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.015em;
text-transform: uppercase;
color: #000000;
}
.content{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 464px;
margin-left: 20px;
padding-top: 0px;
float: left;
}
.education{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 398px;
margin: 0px 0px 30px 0px;
}
.expe {
display: flex;
flex-direction: column;
width: 464px;
margin: 0px 0px 30px 0px;
}
.proj{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 441px;
margin: 0px 0px 30px 0px;
}
.certi{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 296px;
margin: 0px 0px 30px 0px;
}
.frame18{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 139px;
margin-left: 70%;
}
.frame8{
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 0px 0px 15px 0px;
width: 136px;
height: 91px;
}
.frame9{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 129px;
height: 118px;
margin: 0px 0px 15px 0px;
}
.frame118{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 139px;
height: 103px;
margin: 0px 0px 15px 0px;
}
.frame19{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 129px;
    height: 179px;
}
.frame73{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px 0px 0px 0px;
    width: 129px;
    height: 141px;
}
.peep img{
width: 200px;
height: 200px;
float: bottom;
}
.group17{
width: 150px;
padding-top: -10px;
margin-left: 70%;
}
.link{
width: 17px;
height: 17px;
float: left;
margin: 0px 5px 0px 0px;
}
.phone{
width: 17px;
height: 17px;
float: left;
margin: 0px 5px 0px 0px;
}
.mail{
width: 17px;
height: 17px;
float: left;
margin: 0px 5px 0px 0px;
}
.night{
margin-left: 700px;
padding-top: 10px;
}
.smaltextgray{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
}
.texttochki{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #52575C;
}
.fattext{
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.015em;
color: #000000;
}
.greentext{
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 22px;
letter-spacing: 0.015em;
text-transform: uppercase;
color: #136223;
}
.naklonytext{
font-family: Inter;
font-style: italic;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #000000;
}
.black-color-theme{
background-color: black;
}
.white-text{
color: white;
}
a {
color: black;
}
.white-links{
color: white;
}
@media (max-width: 420px){
body{
width: max-content;
}
.main{
width: 420px;
height: 1400px;
}
.education{
width: 30%;
}
.expe{
width: 30%;
}
.proj{
width: 30%;
}
.certi{
width: 30%;
}
.night{
margin-left: 300px;
}
.frame8{
margin-left: -300px;  
padding-top: 5%;
}
.frame9{
margin-left: -300px;  
padding-top: 5%;
}
.frame118{
margin-left: -300px;  
padding-top: 5%;
}
.frame19{
margin-left: -300px;  
padding-top: 5%;
}
.peep img{
width: 150px;
height: 150px;
margin-left: -300px; 
}
.group17{
margin-left: 32.3%;
}
}